src/main/resources/xmltest/Teams.dtd

<?xml version="1.0" encoding="UTF-8" ?>
        <!ELEMENT Teams (Team *)>
        <!ELEMENT Team (TeamName,Country,Member+)>
        <!ELEMENT TeamName (#PCDATA)>
        <!ELEMENT Country (#PCDATA)>
        <!ELEMENT Member (#PCDATA)>
        <!ATTLIST Member
                Age CDATA #REQUIRED
                Address CDATA #REQUIRED
                Sex (Male|Female) "Male"
                >


